fastapi==0.115.5
pydantic==2.10.2
langchain-core==0.3.28
langchain-community==0.3.8
langchain-text-splitters==0.3.2
langchain-groq==0.2.2
bs4==0.0.2
sentence-transformers==3.3.1
faiss-cpu==1.9.0.post1
huggingface-hub==0.26.3
uvicorn==0.32.1
python-dotenv==1.0.1
python-multipart==0.0.20
pymongo==4.10.1
